.contact-content {
    margin-top: 5rem;
    text-align: center;
}

.contact-main-header {
    margin-bottom: 3rem;
}

.contact-unit {
    margin-top: 2rem;
    text-align: left;
}

.contact-block {
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 4rem;
}

.social-handles {
    margin-top: 3rem;
}

.social-icons{
    gap: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.social-icons > img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}